<!DOCTYPE html>
<html>
  <head>
    <title>PoliticosNaMira</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <strong>Politicos Na Mira</strong>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu is-fixed-top">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to('Comparation', home_index_path, :class => "button is-info") %>
              <%= link_to('Ranking', home_ranking_path, :class => "button is-primary") %>

            </div>
          </div>
        </div>
        <!-- <div class="navbar-start">
          <a class="navbar-item" href="/admin">
            Administrativo
          </a>
        </div> -->

      </div>
    </nav>
    <%= yield %>
  </body>
</html>
